@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
html {
  font-family: "Lexend Deca", sans-serif;
  color: var(--neutral-white);
  font-size: 1rem;
  --primary-bright-orange: hsl(31, 77%, 52%);
  --primary-dark-cyan: hsl(184, 100%, 22%);
  --primary-very-dark-cyan: hsl(179, 100%, 13%);
  --neutral-white: hsla(0, 0%, 100%, 0.75);
  --neutral-very-light-gray: hsl(0, 0%, 95%);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--neutral-very-light-gray);
    font-size: 3em;
    text-transform: uppercase;
}

p {
    line-height: 1.7333rem;
}

header {
    grid-area: header;
}

.page-container {
    display: grid;
    grid-template-areas: 
    ". header header header ."
    ". panel-container panel-container panel-container ."
    ". footer footer footer .";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: [header] 1fr [panel-container] 2fr [footer] 1fr;
}

.panel-container {
    display: grid;
    grid-area: panel-container;
    grid-template-areas: 
    "sedan suv luxury";
    grid-template-columns: 1fr 1fr 1fr;
}

.panel {
    padding: 2.6667rem;
}

.panel:first-child {
    border-radius: 10px 0 0 10px;
}

.panel:last-child {
    border-radius: 0 10px 10px 0;
}

.panel-content-container *:not(last-child) {
    margin-bottom: 20px;
}

.sedan {
    grid-area: sedan;
    background: var(--primary-bright-orange);
}

.suv {
    grid-area: suv;
    background: var(--primary-dark-cyan);
}

.luxury {
    grid-area: luxury;
    background: var(--primary-very-dark-cyan);
}

.learn-more-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    background: var(--neutral-very-light-gray);
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    cursor: pointer;
    margin-top: 4em;
    border: solid var(--neutral-very-light-gray) 3px;
}

.learn-more-btn:hover {
    background:hsla(0, 0%, 100%, 0);
    color: var(--neutral-very-light-gray);
}

.sedan-btn {
    color: var(--primary-bright-orange);
}

.suv-btn {
    color: var(--primary-dark-cyan);
}

.luxury-btn {
    color: var(--primary-very-dark-cyan);
}

.attribution {
  grid-area: footer;
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width: 1440px) {
    .page-container {
        /* min-height: 100%; */
        display: grid;
        grid-template-areas:
        " . header ." 
        ". panel-container ."
        ". footer .";
        grid-template-columns: 1fr 21rem 1fr;
        grid-template-rows: [header] 3.3333rem [panel-container] 1fr [footer] 3.3333rem;
    }

    .panel-container {
        display: grid;
        grid-area: panel-container;
        grid-template-areas: 
        ". sedan ."
        ". suv ."
        ". luxury .";
        grid-template-columns: 1fr auto 1fr;
    }

    .panel:first-child {
        border-radius: 10px 10px 0 0;
    }
    
    .panel:last-child {
        border-radius: 0 0 10px 10px;
    }
}
